<div class="mx-auto max-w-6xl my-16 space-y-6">
  <img src="../assets/images/nlw-experts.svg" alt="">
  <form>
    <input
      class="w-full bg-transparent text-3xl font-semibold placeholder:text-slate-500"
      type="text"
      placeholder="Busque em suas notas...">
  </form>
  <div class="h-px bg-slate-700 w-full"></div>
  <main class="container">
    <div>
      <span class="block text-sm mb-3 font-medium text-slate-300">Adicionar nota</span>
      <p class="text-sm font-medium text-slate-400 leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, sunt ducimus facere similique quos ad aperiam culpa incidunt ipsum, blanditiis magni est accusamus atque dolorem tempora officia odio praesentium in?</p>
    </div>

    <div>
      <span class="block text-sm mb-3 font-medium text-slate-300">Adicionar nota</span>
      <p class="text-sm font-medium text-slate-400 leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, sunt ducimus facere similique quos ad aperiam culpa incidunt ipsum, blanditiis magni est accusamus atque dolorem tempora officia odio praesentium in?</p>
    </div>

    <div>
      <span class="block text-sm mb-3 font-medium text-slate-300">Adicionar nota</span>
      <p class="text-sm font-medium text-slate-400 leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, sunt ducimus facere similique quos ad aperiam culpa incidunt ipsum, blanditiis magni est accusamus atque dolorem tempora officia odio praesentium in?</p>
    </div>
  </main>
</div>
<h1 class="tex"></h1>
